[user]
	name = Robert Chandler
	{{- if eq .chezmoi.username "robert.chandler" }}
	email = robert.chandler@elationhealth.com
	{{- else }}
	email = robert@akchandler.com
	{{- end }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
